@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Favorite Hobby:</h1>
    <h3>Ultimate Frisbee</h3>
    <p>A closer look at the sport I love.</p>
    
    <img src="~/img/ShredTeam.jpg" height="400" width="auto" id="TeamPic"/>
    <p>Ultimate frisbee is a fast-paced, high-intensity team sport that emphasizes speed, athleticism, and constant action. Played with referees, timed quarters, and a more physical style of play, it highlights the competitive side of the game while still rewarding teamwork and strategy. The result is an exciting, dynamic sport that’s both challenging to play and fun to watch.</p>

    <img src="~/img/myorgason_profile.png" height="200" width="auto" alt="Mckay Yorgason">
    <p>I play ultimate frisbee in the UFA - the professional league. It has been super fun and a great experience. Our season is in the summer and travel all across the states for our games.</p>
</div>